/.idea
/__pycache__
/build
/dist
/pyefun.egg-info
/pyefun/__pycache__
/docs/build
__pycache__
/venv
/cache/
*_test.rst
.idea
/pyefun/alisdk/oss/.env
2.txt
a/b/m.txt
pyefun/gbk.txt
pyefun/sha1.txt
pyefun/utf-8.txt
pyefun/cache/mycache_a8e949c7907eb67e02ee2f07a44c17a0638746e3.pkl
pyefun/cache/mycache_a8e949c7907eb67e02ee2f07a44c17a0638746e3.pkl.meta
pyefun/cache/name_cf9e80be315306001477abe7ad02de87576aa7a8.pkl
pyefun/cache/name_cf9e80be315306001477abe7ad02de87576aa7a8.pkl.meta
pyefun/cache/name_dependencies.pkl
pyefun/cache/name_dependencies.pkl.meta
pyefun/cache/name2_1a75a50ea04fee9e872b4cf3c6b400b9b5bdcb97.pkl
pyefun/cache/name2_1a75a50ea04fee9e872b4cf3c6b400b9b5bdcb97.pkl.meta
pyefun/cache/pro_a8e949c7907eb67e02ee2f07a44c17a0638746e3.pkl
pyefun/cache/pro_a8e949c7907eb67e02ee2f07a44c17a0638746e3.pkl.meta
pyefun/阿里云SDK/oss/.env
