sphinx
sphinx-autobuild 
sphinx_rtd_theme 
sphinxcontrib-napoleon
recommonmark
sphinx_markdown_tables
sphinx-autoapi

six
Pygments

pytest  # is this necessary?

pyefun
pyperclip==1.8.2
pypinyin
ubelt
pendulum
python-dotenv
PyExecJS
selenium

zmail
openpyxl
peewee
xlwt
xlrd
apscheduler
pymysql
mongoengine
matplotlib
xlutils