sphinx==4.0.2
sphinx-autobuild==2021.3.14 
sphinx_rtd_theme==0.5.2 
sphinxcontrib-napoleon==0.7
recommonmark==0.7.1
sphinx_markdown_tables==0.0.15
sphinx-autoapi==1.8.1

six==1.16.0
Pygments

pytest==6.2.4  # is this necessary?

pyefun
pyperclip
pypinyin
ubelt
pendulum
python-dotenv
PyExecJS
selenium

zmail
openpyxl
peewee==3.14.4
xlwt
xlrd
apscheduler
pymysql
mongoengine
matplotlib
xlutils