sphinx==4.0.2
sphinx-autobuild==2021.3.14 
sphinx_rtd_theme==0.5.2 
sphinxcontrib-napoleon==0.7
recommonmark==0.7.1
sphinx_markdown_tables==0.0.15
sphinx-autoapi==1.8.1

six==1.16.0
Pygments==2.9.0

pytest==6.2.4  # is this necessary?

pyefun==1.0.22.20210603.529
pyperclip==1.8.2
pypinyin==0.41.0
ubelt==0.9.5
pendulum
python-dotenv
PyExecJS
selenium

zmail
openpyxl
peewee==3.14.4
xlwt
xlrd
apscheduler
pymysql
mongoengine
matplotlib
xlutils