# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: 检查测试用例

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        python -m pip install pypinyin
        python -m pip install Pillow
        python -m pip install ubelt
        python -m pip install chardet
        python -m pip install python-dotenv
        python -m pip install ujson

    - name: Test with pytest
      run: |
          python -m unittest pyefun.核心支持库.算数运算_test
          python -m unittest pyefun.核心支持库.数组操作_test
          python -m unittest pyefun.核心支持库.编码转换_test
          # python -m unittest pyefun.核心支持库.磁盘操作_test 修改后依然无法在linux下测试
          # python -m unittest pyefun.核心支持库.公用函数_test
          python -m unittest pyefun.核心支持库.文本操作_test
          python -m unittest pyefun.核心支持库.日期时间操作_test
          python -m unittest pyefun.核心支持库.系统处理_test
          python -m unittest pyefun.核心支持库.类型转换_test
          python -m unittest pyefun.核心支持库.时钟_test
        
          # python -m unittest pyefun.核心易函数支持库.实用函数_test
          python -m unittest pyefun.核心易函数支持库.文本操作实用函数_test
          python -m unittest pyefun.核心易函数支持库.正则表达式_test
          python -m unittest pyefun.核心易函数支持库.正则表达式实用函数_test
          python -m unittest pyefun.核心易函数支持库.网络请求_test
          python -m unittest pyefun.核心易函数支持库.时间统计_test
          #python -m unittest pyefun.核心易函数支持库.线程操作_test
          #python -m unittest pyefun.核心易函数支持库.进程池_test
          python -m unittest pyefun.核心易函数支持库.json函数_test
          python -m unittest pyefun.核心易函数支持库.环境变量_test
          python -m unittest pyefun.核心易函数支持库.配置项_test
          python -m unittest pyefun.核心易函数支持库.配置项_test
          python -m unittest pyefun.核心易函数支持库.网络实用函数_test
        

